
:root{
  --darkest: #2a2d2b;
  --darker: #3a403d;
  --dark: #4b5550;
  --light: #ebefe8;
}

body{
  background: var(--dark);
}

.master{
  overflow: scroll;
}

nav{
  position: absolute;
  top: 0;
  right: 0;
  text-align:end;
  width: 200px;
  height: 400px;
  padding-right: 20px;
  z-index: 2;
  transition: 0.3s;
}


.homepage{
  background: var(--light);
}
.about{
  background: var(--darker);
  background: linear-gradient(0deg, var(--darker) 0%, var(--darkest) 100%);
}
.work{
  background: var(--dark);
  background: linear-gradient(0deg, var(--dark) 0%, var(--darker) 100%);
}
.parallax-page{
  min-height: 100vh;
}
section{
  width: 90%;
  height: 90%;
  border: solid 2px red;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%)
}


.homepage .parallax-image-layer{
  background-size:1800px;
  background-repeat: repeat-x;
  background-position: bottom;
  height: 100vh;
  width: 100%
}

@media (max-width: 1400px){ .parallax-image-layer{background-size:1400px; }}
@media (max-width: 1000px){ .parallax-image-layer{background-size:1000px; }}



