
/*                                                    GENERAL*/

@font-face {
  font-family: satoshi-r;
  src: url(assets/fonts/Satoshi-Regular.otf);
}
@font-face {
  font-family: satoshi-m;
  src: url(assets/fonts/Satoshi-Medium.otf);
}

:root{
  --darkest: #2a2d2b;
  --darker: #3a403d;
  --dark: #4b5550;
  --light: #ebefe8;
  --nav-color: #2a2d2b;
  font-family: satoshi-r, sans-serif;
}

body{
  background: var(--dark);
}

section{
  color: var(--light);
  width: 90%;
  max-width: 1200px;
  height: 90%;
  /*border: solid 2px red;*/
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.parallax-page{
  min-height: 100vh;
  z-index: 1!important;
}

.app{
  position: relative;
}
/*                                                  NAV*/

.container--nav{
  width: 100px!important;
  height: 100px!important;
  inset: 100vw!important;
  top: 0!important;

}
nav{
  
  padding-right: 20px;
  z-index: 2;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: end;
  color: var(--nav-color)
}

nav div{
  text-transform: lowercase;
  position: relative;
}

nav div{
  cursor: pointer;
  display: flex;
  align-items: center;
}

nav div span{
  content: '';
  width: 4px;
  height: 4px;
  background: var(--nav-color);
  margin-right: 5px;
  border-radius: 30%;
  display:none;

}

nav div::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--nav-color);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
  transform: scaleX(0);
}

nav div:hover::after{
  transform: scaleX(1);
  cursor: pointer;

}

/*                                                      HOMEPAGE*/


.homepage{
  background: var(--light);
}
.homepage .parallax-image-layer{
  background-size:1800px;
  background-repeat: repeat-x;
  background-position: bottom;
  height: 100vh;
  width: 100%
}

@media (max-width: 1400px){ .parallax-image-layer{background-size:1400px; }}
@media (max-width: 1000px){ .parallax-image-layer{background-size:1000px; }}




/*                                                        ABOUT*/



.about{
  background: var(--darker);
  background: linear-gradient(0deg, var(--darker) 0%, var(--darkest) 100%);
}

.about section{
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
  color: #9ba19d

}

.about--bio, .about--technologies{
  flex-basis: 50%;
}

.bio--avatar{

  fill: #373B38;
  width: 160px;
  transition: 0.7s;
  
}

.bio--avatar:hover{
  fill: rgba(255, 255, 255, 0.155);
  stroke-width: 5px;
  stroke-linejoin:bevel;
  transform: translateY(-10px)
}

.about--bio--text{
}

.about--bio--resume{
  font-size: 18px;
  margin: 0;
}
.about--bio--resume:hover a {
  color: var(--light)
}
.about--bio--resume:hover .about--bio--resume--icon{
  transform: translate(5px, 2px);
  opacity: 1;


}
.about--bio--resume a{
  color: inherit;
}
.about--bio--resume--icon{
  width: 15px;
  transform: translate(-10px, 2px);


  opacity: 0;
  transition: 0.3s;
}

.about--divider{
  height: 350px;
  width: 1px;
  background: var(--darker);
  display: block;
  margin-inline: 40px;
}

.about--technologies{
}

.technologies--heading{
  font-weight: 400;
  margin-bottom: 50px;

}

.technologies--icons{
  display: flex;
  flex-wrap: wrap;
}

.icon{
  height: 100px;
  flex: 25%;
  transition: 0.3s;
}

.icon:nth-child(1), .icon:nth-child(2), .icon:nth-child(3), .icon:nth-child(12), .icon:nth-child(13), .icon:nth-child(14){
  flex: 33%;
}


.icon--image{
  filter:grayscale(1);
  width: 50px;
  transition: 0.3s;

}
.icon--text{
  opacity: 0;
  transition: 0.3s;
  margin: 0;
  font-family: satoshi-r;
  font-size: 15px;
}

.icon:hover .icon--image{
  filter:grayscale(0);
  transform: translateY(-10px);
}
.icon:hover .icon--text{
  opacity:1
}

@media(max-width: 650px){
  .about section{
    flex-direction: column;
  }

  .about--bio{
    margin-top: 90px;
  }

  .about--divider{
    min-height: 1px;
    height: 1px;
    width: 80%;
    margin-inline: 0;
    margin-block: 40px;
  }

  .icon{
    height: auto
  }
}






/*                                                        WORK*/
.work{
  background: var(--dark);
  background: linear-gradient(0deg, var(--dark) 0%, var(--darker) 90%);
}

.projects{
  margin-top: 100px;
}


.project-card{
  display: flex;
  align-items: center;
  flex-direction:row-reverse;
  gap: 60px;
  margin-bottom: 130px;
  height: 400px;
  overflow: hidden
}
.project-card:nth-child(2), .project-card:nth-child(4){
  flex-direction: row;
  text-align: end;
}

.project-card:nth-child(2) .project-info--links, .project-card:nth-child(4) .project-info--links{
  justify-content: end;
}

.project-image{

  min-width: 520px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.project-info{
  position: relative;
  z-index: 100;
}

.project-info--title{
  font-size: 38px;
  margin: 0;
}
.project-info--type{
margin: 0px;
text-transform: capitalize;
font-size: 18px;
font-weight: 400;
}
.project-info--text{
font-size: 20px;
margin-bottom: 0;
}
.project-info--links{
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.project-info--link{
  position: relative;
  display:block;
  height: 35px;
  width: 90px;
  font-weight: 700;
  color: white;
  border-bottom: 2px white solid;
  text-transform: uppercase;
  overflow:hidden;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.project-info--link:before{
  content: "";
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}
.project-info--link:hover:before{
  top:0;
}
.project-info--link a{
  color: white;
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 3px;
  text-align: center;
}

.project-info--link a:hover{
  color:var(--dark)
}



@media (max-width: 1085px){
  .project-card{
    gap: 50px;
  }
  .project-info--title{
    font-size: 30px;
  }
  .project-info--type{
    font-size: 14px;
  }
  .project-info--text{
    font-size: 16px;
  }
  .project-image{
    min-width: 400px;
  }
}

@media (max-width: 812px)
{
  .project-image{
    display:none;
  }
}
@media (max-width: 650px){
  .projects{
    margin-top: 200px;
  }
  .project-card{
    margin-bottom: 0;
  }
}