body{
  background: #262927
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/*                                                MY CODE*/

.home, .about, .work, .contact{
  height: 100vh;
}
.home{
  background: #ebefe8;
}
.about{
  background: #2a2d2b;
  background: linear-gradient(0deg, #262927 0%, #2a2d2b 10%);

}
.work{
  margin-top: 25vh;
  background: #262927;
}
.contact{
  background: #222423;
}
nav{
  position: fixed!important;
  width: 200px;
  height: 400px;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 100;
}


/*                                              HOME*/


.home--img-layer{
  background-size:1800px;
  background-repeat: repeat-x;
  background-position: bottom;
  height: 100vh;
  width: 100%
}

@media (max-width: 1400px){ .home--img-layer{background-size:1400px; }}
@media (max-width: 1000px){ .home--img-layer{background-size:1000px; }}



.about--content{
  position: absolute;
  top: 50%;
}